{{ partial "header.html" . }}
<ul>
   {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
</ul>

{{ partial "footer.html" . }}
