<hr class='top' />
<center>
  <a href="https://en.gravatar.com/pie86"><img style="border-radius: 50%;" src="https://secure.gravatar.com/avatar/276d5436645f4a1047be1bc18c657757?s=20" /></a>
  <a href="https://orcid.org/0000-0001-6358-3037"><img src="icons/orcid.png" /></a>
  <a href="https://www.scopus.com/authid/detail.uri?authorId=54580558400"><img src="icons/scopus.png" /></a>
  <a href="https://publons.com/researcher/AAC-1117-2021/"><img src="icons/publons.png" /></a>
  <a href="https://github.com/bonfus"><img src="icons/github.png" /></a>
  <a href="https://gitlab.com/bonfus"><img src="icons/gitlab.png" /></a>
</center>
<hr class='top' />
