{{ partial "header.html" . }}
{{ partial "social.html" . }}

<section id=content>
    <ul class=posts_listing>
      {{ range where .Site.RegularPages.ByPublishDate.Reverse "Params.type" "!=" "page" }}
        <div id="posts">
          <!--
          <div id=date class="date-time-title">
              <time>{{ .Date.Format (.Site.Params.dateform | default "Jan 02 2006") }}</time>
          </div>
          -->
          <div class="date-time-title post">{{ .Param "type" }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        </div>
      {{ end }}
    </ul>
  </section>

{{ partial "footer.html" . }}
